<template>
  <div class="flex flex-col justify-center items-center">
    <img class="w-11/12" src="@/assets/svg/img-login.svg" />
    <span class="font-bold text-2xl leading-6 mb-2"
      >Kemudahan Mencari Bahan Baku</span
    >
    <span class="text-gray-500 text-normal leading-6 mb-10"
      >One Click to Industry</span
    >
  </div>
</template>
<script>
export default {
  name: "BannerLog",
};
</script>
