<template>
  <div
    v-if="isLogin == 'false'"
    class="justify-between flex w-full p-2 bg-gray-100"
  >
    <span class="ml-10 text-sm">© 2021 - Poolapack.com</span>
    <div class="grid grid-cols-3 text-sm gap-6">
      <a href="#">Hubungi Kami</a>
      <a href="#">Laporkan Masalah</a>
      <a href="#">Karir</a>
    </div>
  </div>
  <div v-else-if="isLogin == 'true'" class="flex flex-col bg-white mt-8">
    <div class="flex flex-row mb-10 justify-between mx-10">
      <div class="flex flex-col gap-2">
        <span class="font-bold text-lg text-left">Layanan Pengguna</span>
        <button class="text-left text-base">FAQ</button>
        <button class="text-left text-base">Hubungi Kami</button>
        <button class="text-left text-base">Laporkan Masalah</button>
        <button class="text-left text-base">Laporkan Penyalahgunaan</button>
      </div>
      <div class="flex flex-col gap-2">
        <span class="font-bold text-lg text-left">Poolapack</span>
        <button class="text-left text-base">Tentang Kami</button>
        <button class="text-left text-base">Cara Belanja</button>
        <button class="text-left text-base">Referral</button>
        <button class="text-left text-base">Blog</button>
        <button class="text-left text-base">Karir</button>
      </div>
      <div class="flex flex-col gap-2 justify-between">
        <div class="flex flex-col">
          <span class="font-bold text-lg leading-4 mb-4"
            >Metode Pembayaran</span
          >
          <img class="w-20" src="@/assets/svg/bca.svg" />
        </div>
        <div class="flex flex-col">
          <span class="font-bold text-lg leading-4 mb-4"
            >Metode Pengiriman</span
          >
          <div class="flex flex-row gap-2">
            <img class="w-20" src="@/assets/svg/jne.svg" />
            <img class="w-20" src="@/assets/svg/jtr.svg" />
            <img class="w-20" src="@/assets/svg/mrs.svg" />
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <img src="@/assets/svg/logo_poolapack_black.svg" class="w-4/5 my-7" />
        <span class="font-bold text-lg leading-4">Ikuti Kami</span>
        <div class="flex flex-rows gap-3">
          <img class="w-9" src="@/assets/svg/fb.svg" />
          <img class="w-9" src="@/assets/svg/instagram.svg" />
          <img class="w-9" src="@/assets/svg/youtube.svg" />
          <img class="w-9" src="@/assets/svg/twitter.svg" />
        </div>
      </div>
    </div>
    <div class="border-t-2 border-gray-300 flex justify-center p-2">
      <span class="ml-10 text-sm">© 2021 - Poolapack.com</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavigationBar",
  props: {
    isLogin: {
      type: String,
      default: "false",
    },
    email: {
      type: String,
      default: "",
    },
    password: {
      type: String,
      default: "",
    },
  },
};
</script>
