<template>
  <div
    v-if="show"
    class="absolute inset-0 bg-black bg-opacity-30 flex justify-center items-center flex-col"
  >
    <div class="bg-white shadow-md rounded-md w-1/5 p-5">
      <span class="txt-base">
        Sedang memproses ...
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoadingFullScreen",
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
