<template>
  <transition
    enter-from-class="opacity-0"
    enter-to-class="opacity-100"
    enter-active-class="ease-out duration-500"
    leave-from-class="opacity-100"
    leave-to-class="opacity-0"
    leave-active-class="ease-in duration-500"
  >
    <div
      v-if="show"
      class="absolute inset-0 bg-black bg-opacity-30 flex justify-center items-center flex-col"
    >
      <div class="bg-white shadow-md rounded-md w-2/6 p-10 flex flex-col">
        <span class="font-bold text-2xl leading-5 mb-4">Lupa Password</span>
        <span class="text-gray-400 text-base mb-10"
          >Masukkan email terdaftar dan kami akan mengirimkan link verifikasi
          untuk mengubah password</span
        >
        <label for="email" class="mb-2">Email</label>
        <input
          v-model="email"
          class="mb-8 bg-gray-50 focus:bg-white focus:outline-none rounded-md p-2 ring-1 ring-gray-4 ring-offset-4"
          name="email"
          type="text"
          placeholder="Contoh : example@example.com"
        />
        <div class="grid grid-cols-2 gap-3">
          <button
            class="bg-white justify-center px-3 border border-yellow-primary items-center rounded-md text-yellow-primary py-2 font-bold"
            @click="$emit('xForgotPassword')"
          >
            Batal
          </button>
          <button
            class="bg-yellow-primary justify-center px-3 items-center rounded-md text-white py-2 font-bold"
            :disabled="!email"
            @click="$emit('forgotPassword', email)"
          >
            Verifikasi
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ForgotPassword",
  props: {
    show: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      email: "",
    };
  },
};
</script>
