<template>
  <transition
    enter-from-class="opacity-0"
    enter-to-class="opacity-100"
    enter-active-class="ease-out duration-500"
    leave-from-class="opacity-100"
    leave-to-class="opacity-0"
    leave-active-class="ease-in duration-500"
  >
    <div
      v-if="show"
      class="absolute inset-0 bg-black bg-opacity-30 flex justify-center items-center flex-col"
    >
      <div
        class="bg-white rounded-t-md shadow-md rounded-md w-2/6 justify-center items-center flex flex-col"
      >
        <div class="w-full bg-yellow-200">
          <img class="w-full flex" src="@/assets/svg/send-link-success.svg" />
        </div>
        <div class="px-10 py-10 flex flex-col justify-center items-center">
          <span class="font-bold text-2xl leading-5 mb-4"
            >Link Verifikasi Terkirim</span
          >
          <span class="text-gray-400 text-center text-base mb-10"
            >Silahkan cek dan klik link verifikasi yang telah kami kirimkan ke
            {{ email }}</span
          >
          <button
            class="w-full bg-white justify-center px-3 border border-yellow-primary items-center rounded-md text-yellow-primary py-2 font-bold"
            @click="$emit('closedSuccess')"
          >
            Saya Mengerti
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ModalEmailVerified",
  props: {
    show: {
      default: false,
      type: Boolean,
    },
    email: {
      type: String,
      default: "",
    },
  },
};
</script>
