<template>
  <transition
    enter-from-class="opacity-0"
    enter-to-class="opacity-100"
    enter-active-class="ease-out duration-500"
    leave-from-class="opacity-100"
    leave-to-class="opacity-0"
    leave-active-class="ease-in duration-500"
  >
    <div
      v-if="modalSuccess"
      class="absolute inset-0 bg-black bg-opacity-30 flex justify-center items-center flex-col"
    >
      <div
        class="bg-white shadow-md rounded-md w-2/6 justify-center items-center flex flex-col"
      >
        <div
          class="flex w-full rounded-t-md bg-green-200 justify-center items-center"
        >
          <div class="my-5 rounded-3xl bg-cyan-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-28 w-28"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#FFFF"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m5 13 4 4L19 7"
              />
            </svg>
          </div>
        </div>
        <div class="px-10 py-10 flex flex-col justify-center items-center">
          <span class="font-bold text-2xl leading-5 mb-4"
            >Password Berhasil Diperbaharui</span
          >
          <span class="text-gray-400 text-center text-base"
            >Mohon menunggu, anda akan otomatis dialihkan ke halaman Masuk untuk
            mengakses Poolapack</span
          >
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: "ModalSucsess",
  props: {
    modalSuccess: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
