<template>
  <transition
    enter-from-class="opacity-0"
    enter-to-class="opacity-100"
    enter-active-class="ease-out duration-500"
    leave-from-class="opacity-100"
    leave-to-class="opacity-0"
    leave-active-class="ease-in duration-500"
  >
    <div
      v-if="show"
      class="absolute inset-0 bg-black bg-opacity-30 flex justify-center items-center flex-col"
    >
      <div
        class="bg-white shadow-md rounded-md w-2/6 p-10 justify-center items-center flex flex-col"
      >
        <span class="font-bold text-2xl leading-5 mb-4"
          >Email Belum Terdaftar</span
        >
        <span class="text-gray-400 text-center text-base mb-10"
          >Silahkan lanjutkan pendaftaran untuk membuat akun baru atau ubah
          untuk menggunakan email lain</span
        >
        <div class="grid grid-cols-2 gap-3">
          <button
            class="bg-white justify-center px-3 border border-yellow-primary items-center rounded-md text-yellow-primary py-2 font-bold"
            @click="$emit('keepChange')"
          >
            Ubah
          </button>
          <button
            class="bg-yellow-primary justify-center px-3 items-center rounded-md text-white py-2 font-bold"
            @click="$emit('nextStep')"
          >
            Lanjut Pendaftaran
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "EmailNotRegister",
  props: {
    show: {
      default: false,
      type: Boolean,
    },
  },
};
</script>
