<template>
  <div class="flex-col shadow-md pb-4 mb-2">
    <div class="flex flex-row justify-end mr-5 md:mr-8 lg:mr-16 py-4">
      <button class="flex flex-row justify-center items-center mr-8 gap-2">
        <img class="w-9 h-9" src="@/assets/svg/xample.svg" />
        <span>Sampel</span>
      </button>
      <button class="flex flex-row justify-center items-center mr-8 gap-2">
        <img class="w-9 h-9" src="@/assets/svg/wishlist.svg" />
        <span>Wishlist</span>
      </button>
      <button>
        <img class="w-9 h-9 mr-3" src="@/assets/svg/square.svg" />
      </button>
      <button>
        <img class="w-9 h-9 mr-8" src="@/assets/svg/inbox.svg" />
      </button>
      <button
        class="flex flex-row justify-center items-center gap-2"
        @click="logOut()"
      >
        <img src="@/assets/svg/user.svg" />
        <span>User LogOut</span>
      </button>
    </div>
    <div class="flex flex-col mx-5 md:mx-8 lg:mx-16">
      <div class="flex flex-row mb-5 items-center">
        <img class="w-1/5 mr-10" src="@/assets/svg/logo_poolapack_black.svg" />
        <div class="flex-row flex justify-self-end w-1/5">
          <div class="flex">
            <label class="mr-4">Kategori</label>
          </div>
        </div>
        <div class="flex flex-row flex-auto justify-center items-center">
          <input
            class="w-full bg-gray-50 focus:bg-white focus:outline-none ring-1 ring-gray-4 ring-offset-4"
            type="text"
            name="search"
          />
          <div
            class="h-9 w-16 border-gray-400 justify-center -text-center items-center bg-yellow-primary z-50"
          >
            <img
              class="h-5 w-5 text-white my-2 mx-4"
              src="@/assets/svg/search.svg"
            />
          </div>
        </div>
        <div class="flex ml-10">
          <NuxtLink to="/productcart">
            <img class="h-10" src="@/assets/svg/cart.svg" />
          </NuxtLink>
        </div>
      </div>
      <div class="flex flex-row">
        <span class="pr-3">|</span>
        <span class="">Tentang Kami</span>
        <span class="px-4">|</span>
        <span>
          Cara Belanja
        </span>
        <span class="px-4">|</span>
        <span>Referral</span>
        <span class="px-4">|</span>
        <span>Blog</span>
        <span class="px-4">|</span>
        <span>RFQ</span>
      </div>
      <div class="flex flex-row justify-center mt-5">
        <span class="mr-7">Sample : </span>
        <img class="h-6 w-6 mr-2" src="@/assets/png/xample_2.png" />
        <span>Lorem Ipsum</span>
        <button
          class="ml-4 flex flex-row bg-white justify-center px-3 border-2 border-yellow-primary items-center rounded-lg text-yellow-primary font-bold text-base"
        >
          <img class="w-5 h-5 mr-2 my-1" src="@/assets/svg/requestxample.svg" />
          Request Sampel
        </button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "NavigationBar",
  data() {
    return {
      categorySelected: [],
    };
  },
  methods: {
    logOut() {
      localStorage.setItem("email", "");
      localStorage.setItem("password", "");
      localStorage.setItem("isLogin", false);
    },
  },
};
</script>
