<template>
  <div class="flex flex-row justify-between p-8 items-center">
    <img class="w-1/6" src="@/assets/png/logo_poolapack.png" />
    <span class="jusify-between font-bold text-xl leading-5">Masuk Akun</span>
  </div>
</template>
