<template>
  <div class="flex gap-1 flex-row justify-center items-center">
    <div class="flex flex-col relative">
      <div
        class="flex flex-col h-7 w-24 z-50 rounded-l-lg border-r-2 border-red-900 bg-yellow-primary text-center"
      >
        <span class="font-bold text-xsxs tracking-widest">Rp. 1000</span>
        <span class="font-bold text-xss tracking-widest">Rp. 2000</span>
      </div>
      <span
        class="absolute border-red-900 text-white border-r-2 -bottom-4 right-0 text-center w-14 -mt-1 text-xsxs z-40 p-1 bg-red-900 rounded-b-lg"
        >1000 meter</span
      >
    </div>
    <div class="flex flex-col relative">
      <div
        class="flex flex-col h-7 w-24 z-50 -ml-1 border-r-2 border-red-900 bg-gray-200 text-center"
      >
        <span class="font-bold text-xsxs tracking-widest line-through"
          >Rp. 9000</span
        >
        <span class="font-bold text-xss tracking-widest">Rp. 7000</span>
      </div>
      <span
        class="absolute border-red-900 text-white border-r-2 -bottom-4 right-0 text-center w-14 -mt-1 text-xsxs z-40 p-1 bg-red-900 rounded-b-lg"
        >1000 meter</span
      >
    </div>
    <div class="flex flex-col relative">
      <div
        class="flex flex-col h-7 w-24 z-50 -ml-1 border-r-2 border-red-900 bg-gray-200 text-center"
      >
        <span class="font-bold text-xsxs tracking-widest">Rp. 1000</span>
        <span class="font-bold text-xss tracking-widest">Rp. 2000</span>
      </div>
      <span
        class="absolute border-red-900 text-white border-r-2 -bottom-4 right-0 text-center w-14 -mt-1 text-xsxs z-40 p-1 bg-red-900 rounded-b-lg"
        >1000 meter</span
      >
    </div>
  </div>
</template>
<script>
export default {
  name: "PriceCountDown",
};
</script>
