<template>
  <div class="flex flex-row items-center">
    <span v-for="j in 5" :key="j" class="">
      <img v-if="j <= 3" src="~/assets/svg/star-solid.svg" alt="icon-solid" />
      <img
        v-else-if="j == 4"
        src="~/assets/svg/star-half.svg"
        alt="icon-half"
      />
      <img
        v-else
        class="mr-1"
        src="~/assets/svg/star-outline.svg"
        alt="icon-outline"
      />
      <span hidden>{{ j > 3 ? false : "" }}</span>
    </span>
    <span class="text-gray-400 text-xs"> </span>
    <span class="text-gray-400 text-xs ml-2 pl-2 border-l-1.5 border-gray-400"
      >{{ 200 }} <span class="text-gray-400">Ulasan</span>
    </span>
    <span class="text-gray-400 text-xs ml-2 pl-2 border-l-1.5 border-gray-400">
      {{ 100 }} <span class="text-gray-400">Terjual</span></span
    >
  </div>
</template>
<script>
export default {
  name: "RattingProduct",
};
</script>
