<template>
  <div class="flex gap-1 flex-row justify-center items-center">
    <div class="flex flex-col">
      <div
        class="h-7 w-10 z-50 rounded-r-lg rounded-t-lg border-b-2 border-gray-600 border-opacity-20 bg-yellow-primary text-center"
      >
        <span class="font-bold text-sm leading-4 tracking-widest">00</span>
      </div>
      <span
        class="text-center w-8 -mt-2 text-xss z-40 p-1 bg-yellow-primary rounded-b-lg"
        >Hari</span
      >
    </div>
    <div class="flex flex-col">
      <div
        class="h-7 w-10 z-50 rounded-r-lg rounded-t-lg border-b-2 border-gray-600 border-opacity-20 bg-yellow-primary text-center"
      >
        <span class="font-bold text-sm leading-4 tracking-widest">00</span>
      </div>
      <span
        class="text-center w-8 -mt-2 text-xss z-40 p-1 bg-yellow-primary rounded-b-lg"
        >Jam</span
      >
    </div>
    <div class="flex flex-col">
      <div
        class="h-7 w-10 z-50 rounded-r-lg rounded-t-lg border-b-2 border-gray-600 border-opacity-20 bg-yellow-primary text-center"
      >
        <span class="font-bold text-sm leading-4 tracking-widest">00</span>
      </div>
      <span
        class="text-center w-8 -mt-2 text-xss z-40 p-1 bg-yellow-primary rounded-b-lg"
        >Menit</span
      >
    </div>
    <div class="flex flex-col">
      <div
        class="h-7 w-10 z-50 rounded-r-lg rounded-t-lg border-b-2 border-gray-600 border-opacity-20 bg-yellow-primary text-center"
      >
        <span class="font-bold text-sm leading-4 tracking-widest">00</span>
      </div>
      <span
        class="text-center w-8 -mt-2 text-xss z-40 p-1 bg-yellow-primary rounded-b-lg"
        >Detik</span
      >
    </div>
  </div>
</template>
<script>
export default {
  name: "TimerCountDown",
  props: {
    timmer: {
      type: Date,
      default: "",
    },
  },
};
</script>
