<template>
  <div class="flex flex-col">
    <ModalNotRegister
      :show="notRegistered"
      @nextStep="nextStep"
      @keepChange="keepChange"
    />
    <LoadingFullScreen :show="loading" />
    <ModalEmailVerified
      :show="success"
      :email="email"
      @closedSuccess="cekEmail()"
    />

    <ModalForgotPassword
      :show="showForgotPassword"
      @forgotPassword="forgotPassword"
      @xForgotPassword="xForgotPassword"
    />
    <NavbarLogin />
    <div class="grid grid-cols-2">
      <Banner />
      <div class="ml-32 mr-10">
        <div
          class="border border-gray-200 mt-10 px-8 py-10 flex flex-col shadow-xl bg-white rounded-md"
        >
          <span class="font-bold text-xl leading-5 mb-2">Masuk Akun</span>
          <span class="mb-10 text-gray-400"
            >Ini email untuk masuk atau
            <NuxtLink class="text-yellow-primary font-bold" to="#"
              >daftarkan account</NuxtLink
            ></span
          >
          <label for="email" class="mb-2">Email</label>
          <input
            v-model="email"
            class="mb-5 bg-gray-50 focus:bg-white focus:outline-none rounded-md p-2 ring-1 ring-gray-4 ring-offset-4"
            name="email"
            type="text"
            placeholder="Contoh : example@example.com"
          />
          <!-- <small class="invalid-feedback" v-text="errors[0]" /> -->
          <label :hidden="hiddenPassword" for="password" class="mb-2"
            >Password</label
          >
          <input
            v-model="password"
            :hidden="hiddenPassword"
            class="mb-5 bg-gray-50 focus:bg-white focus:outline-none rounded-md p-2 ring-1 ring-gray-4 ring-offset-4"
            name="paswword"
            type="password"
          />
          <span class="mb-8 text-gray-400"
            >Lupa kata sandi? Silahkan ke halaman
            <span
              class="text-yellow-700 font-bold cursor-pointer"
              @click="showForgotPassword = true"
              >Lupa Password</span
            ></span
          >
          <button
            class="bg-yellow-primary justify-center items-center rounded-md text-white py-3 font-bold"
            :disabled="!email"
            @click="insertEmail"
          >
            Selanjutnya
          </button>
        </div>
      </div>
    </div>
    <Footer :is-login="isLogin" :email="email" :password="password" />
  </div>
</template>
<script>
export default {
  name: "LoginPage",
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      const email = localStorage.getItem("email");
      const password = localStorage.getItem("password");
      const isLogin = localStorage.getItem("islogin");
      if (!email || !password) {
        return next({ path: "/auth/login" });
      } else if (email && password && isLogin === "true") {
        return next({ path: "/" });
      }
      return "/";
    });
  },
  data() {
    return {
      email: "",
      password: "",
      isLogin: "false",
      notRegistered: false,
      loading: false,
      success: false,
      hiddenPassword: true,
      showForgotPassword: false,
    };
  },
  mounted() {
    this.getUser();
  },
  methods: {
    insertEmail() {
      const vm = this;
      const local = localStorage.getItem("email");
      const password = localStorage.getItem("password");
      if (vm.password === password && vm.email === local) {
        localStorage.setItem("isLogin", "true");
        vm.$router.push("/");
      } else if (local !== vm.email) {
        vm.notRegistered = true;
      } else if (!vm.password) {
        vm.hiddenPassword = false;
      }
    },
    getUser() {
      this.$store.dispatch("user/InsertUser", {
        email: localStorage.getItem("email"),
        password: localStorage.getItem("password"),
      });
      this.isLogin = localStorage.getItem("islogin");
    },
    nextStep() {
      const vm = this;
      vm.notRegistered = false;
      vm.loading = true;
      setTimeout(() => {
        vm.loading = false;
        localStorage.setItem("email", vm.email);
        vm.success = true;
      }, 2000);
    },
    keepChange() {
      const vm = this;
      vm.notRegistered = false;
    },
    xForgotPassword() {
      const vm = this;
      vm.showForgotPassword = false;
    },
    forgotPassword(em) {
      const vm = this;
      localStorage.setItem("email", em);
      vm.showForgotPassword = false;
      vm.loading = true;
      setTimeout(() => {
        vm.loading = false;
        vm.success = true;
      }, 2000);
    },
    cekEmail() {
      const vm = this;
      vm.success = false;
      vm.loading = true;
      setTimeout(() => {
        vm.loading = false;
        vm.$router.push({
          path: `/auth/resetpassword`,
          query: { email: localStorage.getItem("email") },
        });
      }, 1000);
    },
  },
};
</script>
