<template>
  <div>
    <NavbarLogin />
    <ModalSuccessReset :modal-success="modalSuccess" />
    <div class="grid grid-cols-2">
      <Banner />
      <div class="ml-32 mr-10">
        <div
          class="border border-gray-200 mt-10 px-8 py-10 flex flex-col shadow-xl bg-white rounded-md"
        >
          <span class="font-bold text-xl leading-5 mb-2">Buat Sandi Baru</span>
          <span class="mb-8 text-gray-400"
            >Silahkan masukkan password baru untuk dapat menggunakan akun
            {{ email }}</span
          >
          <label for="NewPassword" class="mb-2">Password Baru</label>
          <input
            v-model="newPassword"
            class="mb-1 bg-gray-50 focus:bg-white focus:outline-none rounded-md p-2 ring-1 ring-gray-4 ring-offset-4"
            name="NewPassword"
            type="password"
          />
          <span class="mb-5 text-gray-400 text-sm"
            >Kombinasi angka, huruf besar dan huruf kecil</span
          >
          <label for="ConfirmNewPassword" class="mb-2"
            >Konfirmasi Password Baru</label
          >
          <input
            v-model="confirmNewPassword"
            class="mb-2 bg-gray-50 focus:bg-white focus:outline-none rounded-md p-2 ring-1 ring-gray-4 ring-offset-4"
            name="ConfirmNewPassword"
            type="password"
          />
          <span class="mb-5 text-gray-400 text-sm"
            >Kombinasi angka, huruf besar dan huruf kecil</span
          >
          <button
            class="bg-yellow-primary justify-center items-center rounded-md text-white py-3 font-bold"
            :disabled="!newPassword || !confirmNewPassword"
            @click="insertPassWord"
          >
            Selesaikan
          </button>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>
<script>
export default {
  name: "ResetPassword",
  layout: "auth",
  data() {
    return {
      newPassword: "",
      confirmNewPassword: "",
      modalSuccess: false,
      email: "",
    };
  },
  mounted() {
    this.email = this.$route.query.email;
  },
  methods: {
    insertPassWord() {
      const vm = this;
      if (vm.newPassword === vm.confirmNewPassword) {
        localStorage.setItem("password", vm.newPassword);
        vm.modalSuccess = true;
        setTimeout(() => {
          vm.$router.push("/auth/login");
        }, 3000);
      }
    },
  },
};
</script>
