<template>
  <div class="flex flex-col">
    <NavbarHome v-if="auth.isLogin" />
    <Nuxt />
    <Footer
      :email="auth.email"
      :password="auth.password"
      :is-login="auth.isLogin"
    />
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "DefaultLayout",
  data() {
    return {
      auth: {
        email: "",
        password: "",
        isLogin: "false",
      },
    };
  },
  computed: {
    ...mapGetters({
      list: "product/list",
    }),
  },
  mounted() {
    this.auth.email = localStorage.getItem("email");
    this.auth.password = localStorage.getItem("password");
    this.auth.isLogin = localStorage.getItem("isLogin");
  },
};
</script>
