<template>
  <div class="flex flex-col bg-gray-50 px-5 md:px-8 lg:px-16">
    <div class="flex flex-col lg:flex-row gap-3">
      <div class="">
        <div class="flex flex-col">
          <div class="rounded-md self-center mr-3 pr-2">
            <img src="@/assets/png/xample_1.png" />
          </div>
          <div class="mt-1 flex fex-row justify-center gap-3 mb-4">
            <img src="@/assets/png/xample_2.png" />
            <img src="@/assets/png/xample_2.png" />
            <img src="@/assets/png/xample_2.png" />
            <img src="@/assets/png/xample_2.png" />
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto mt-4">
        <div class="flex flex-col sm:flex-row justify-between">
          <div class="flex flex-col">
            <span class="font-bold text-lg leading-6 mb-1"
              >Poly PE MVS L158 100 / 70</span
            >
            <Ratting />
          </div>
          <div class="flex flex-col mt-5 sm:mt-0 justify-center items-center">
            <span class="font-bold text-base leading-6 mb-1"
              >Berakhir Dalam</span
            >
            <Timer />
          </div>
        </div>
        <hr class="text-gray-500 my-5" />
        <table class="inline-flex flex-col table-auto w-full mb-5">
          <thead class="border-1.5 rounded-t-lg border-gray-300 bg-white">
            <tr class="flex">
              <th style="width: 25%;">
                <span class="inline-flex text-sm font-normal text-gray-500"
                  >Variant</span
                >
              </th>
              <th style="width: 50%;">
                <span class="inline-flex text-sm text-gray-500">Harga</span>
              </th>
              <th style="width: 25%;">
                <span class="inline-flex text-sm text-gray-500">Jumlah</span>
              </th>
            </tr>
          </thead>
          <tbody class="pb-4 border-1.5 rounded-b-lg border-gray-300 bg-white">
            <tr
              v-for="(o, i) in 3"
              :key="i"
              class="flex mx-2 mt-2"
              :class="i + 1 == 3 ? '' : 'border-b-1.5 border-gray-300'"
            >
              <td
                style="width: 20%;"
                class="text-center border-r-1.5 border-gray-300 mb-1"
              >
                <span class="py-1 px-3 bg-gray-300 rounded-lg text-sm"
                  >Varian</span
                >
              </td>
              <td
                style="width: 55%;"
                class="text-center border-r-1.5 border-gray-300 mb-5"
              >
                <Price />
              </td>
              <td style="width: 25%;" class="text-center">
                <button
                  class="rounded-md border-1.5 px-1.5 border-yellow-primary bg-white text-yellow-primary"
                >
                  +
                </button>
                <span
                  class="border-t-1.5 border-b -ml-2 px-6 border-yellow-primary"
                  >0</span
                >
                <button
                  class="rounded-md -ml-2 border-1.5 px-2 border-yellow-primary bg-white text-yellow-primary"
                >
                  -
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr class="text-gray-500 my-5" />
        <div class="flex flex-row">
          <span class="text-sm">Voucer Promo :</span>
          <button
            class="text-base font-normal text-white ring-1 ring-cyan-primary ring-offset-2 bg-cyan-primary rounded-lg px-4 py-1 ml-5"
          >
            Banner Promo
          </button>
        </div>
      </div>
      <div class="flex flex-row lg:flex-col lg:w-1/5">
        <div
          class="flex w-full flex-col p-3 bg-white shadow-lg rounded-md border"
        >
          <span class="text-cyan-primary font-bold text-xs">Ready Stock</span>
          <span class="text-sm">Minimal Order (MOQ): 100 Meter</span>
          <span class="text-xs">Kelipatan Order: 100 Meter</span>
          <div class="flex flex-row my-2 justify-between">
            <span class="text-xs text-gray-400">Total Kuantitas</span>
            <span class="font-bold text-xs">{{ 0 }} Meter</span>
          </div>
          <hr class="-mx-3" />
          <div class="flex flex-row my-2 justify-between">
            <span class="text-xs text-gray-400">Total Harga</span>
            <span class="font-bold text-xs">Rp. {{ 120000 }}</span>
          </div>
          <button
            class="bg-yellow-primary text-sm justify-center px-1 items-center rounded-md text-white py-1 mt-2 font-bold"
          >
            Beli Sekarang
          </button>
          <button
            class="flex flex-row text-sm gap-2 bg-white justify-center px-1 border border-yellow-primary items-center rounded-md text-yellow-primary py-1 mt-2 font-bold"
          >
            <img class="h-4" src="@/assets/svg/btn_cart.svg" />
            Masukan Keranjang
          </button>
        </div>
        <div
          class="flex flex-col p-3 w-full bg-white shadow-lg rounded-md border lg:mt-5 ml-5 lg:ml-0"
        >
          <span class="font-bold text-xs mb-2">Pengiriman</span>
          <div class="flex flex-row mr-3 mb-2">
            <img class="h-5" src="@/assets/svg/building.svg" />
            <span class="text-sm ml-2 text-gray-400"
              >Dikirim dari
              <span class="font-bold text-black">Kab. Bandung</span></span
            >
          </div>
          <div class="flex flex-row mr-3 mb-2">
            <img class="h-5" src="@/assets/svg/car.svg" />
            <span class="text-sm ml-2 flex-auto text-gray-400"
              >Pengiriman ke
              <span class="font-bold text-black">Kota Jakarta</span></span
            >
          </div>
          <div class="relative overflow-hidden flex flex-col">
            <div class="flex flex-row justify-between">
              <span class="text-xs text-gray-400">Ongkos Kirim :</span>
              <input
                v-model="collapse"
                type="checkbox"
                class="absolute top-0 inset-x-0 w-full h-12 opacity-0 z-10 cursor-pointer"
              />
              <button
                class="absolute top-0 right-2 transition-transform transform duration-100 -rotate-90 w-5 h-5 rounded-full border-2 border-black"
                :class="collapse ? 'transform-none' : ''"
              >
                <img src="@/assets/svg/arrow.svg" />
              </button>
            </div>

            <div
              class="flex flex-col my-2 overflow-hidden transition-all duration-200 max-h-0"
              :class="collapse ? 'max-h-40' : ''"
            >
              <span class="text-xs font-bold text-right mb-2"
                >Rp.{{ 12000 }}</span
              >
              <span class="text-xs text-gray-400 text-right"
                >Kargo JNE Trucking (JTR)
                <button class="text-yellow-primary">Ubah</button></span
              >
            </div>
          </div>
          <hr class="-mx-3 mb-2" />
          <span class="text-xs text-gray-400 text-right"
            >Estimasi tiba {{ "12/Des - 15/Des" }}
          </span>
        </div>
      </div>
    </div>
    <div
      class="bg-white rounded-xl border-1.5 border-gray-200 flex flex-row mt-5 w-4/5 justify-between"
    >
      <div class="flex flex-row w-full p-2">
        <img
          class="rounded-full w-8 h-8 m-1 shadow-lg"
          src="@/assets/png/xample_2.png"
        />
        <div class="flex flex-col ml-1">
          <span class="text-sm font-bold text-black">{{ "Bahtera Bara" }}</span>
          <span class="text-xs text-gray-400">{{ "Kab. Bandung" }}</span>
          <span class="text-xs text-gray-400 flex flex-row">
            <img src="@/assets/svg/star-solid.svg" />{{
              "5 (100 Ulasan)"
            }}</span
          >
        </div>
        <img class="ml-2" src="@/assets/svg/verified.svg" />
      </div>
      <div
        class="flex flex-rows w-full gap-x-3 items-center justify-center mr-5"
      >
        <span class="text-gray-400 items-center text-normal">|</span>
        <span class="flex flex-rows items-center text-sm"
          ><img class="w-5 h-5 mr-2" src="@/assets/svg/unlinkicon.svg" /> Copy
          Link</span
        >
        <span class="text-gray-400 items-center text-normal">|</span>
        <span class="flex flex-rows items-center text-sm"
          ><img class="w-5 h-5 mr-2" src="@/assets/svg/shareicon.svg" /> Copy
          Share</span
        >
        <span class="text-gray-400 items-center text-normal">|</span>
        <span class="flex flex-rows items-center text-sm"
          ><img class="w-5 h-5 mr-2" src="@/assets/svg/wish_plus.svg" /> Copy
          Favorit (0,0RB)</span
        >
      </div>
    </div>
    <div
      class="bg-white mt-10 rounded-xl border-1.5 px-5 border-gray-200 flex flex-col w-2/4 justify-between"
    >
      <div class="flex -mt-4 flex-row gap-x-3 mx-10">
        <button class="w-full bg-yellow-primary text-white rounded-lg h-8">
          Ulasan
        </button>
        <button class="w-full bg-yellow-primary text-white rounded-lg h-8">
          Detail Produk
        </button>
        <button class="w-full bg-yellow-primary text-white rounded-lg h-8">
          Profile Packer
        </button>
      </div>
      <div class="flex flex-col mt-5">
        <span class="font-bold text-sm mb-3">Detail</span>
        <div
          class="grid grid-cols-2 text-center w-2/4 border-2 border-gray-200"
        >
          <span class="font-bold text-sm bg-gray-100 py-2">Garansi</span>
          <span class="bg-gray-100 text-sm py-2">100.000</span>
          <span class="font-bold text-sm py-2">Lebar Kain</span>
          <span class="text-sm py-2">150</span>
          <span class="font-bold text-sm bg-gray-100 py-2">Bahan</span>
          <span class="bg-gray-100 text-sm py-2">100% Cotton</span>
          <span class="font-bold text-sm py-2">Teknik</span>
          <span class="text-sm py-2"
            >Lembut, tahan lama, tidak mudah berkerut</span
          >
          <span class="font-bold bg-gray-100 text-sm py-2">Karakter</span>
          <span class="bg-gray-100 text-sm py-2">Fashion</span>
        </div>
        <span class="font-bold text-sm my-3">Deskrpsi</span>
        <p class="text-sm justify w-3/5 pb-10">
          Bahan polyester adalah salah satu jenis kain yang dibuat melalui
          tahapan kimia yang cukup panjang sehingga termasuk salah satu jenis
          kain sintetis. Singkatnya, bahan polyester tidak diperoleh secara
          alami dan juga tidak tersedia bebas di alam ini seperti halnya bahan
          wol, katun dan berbagai jenis bahan dari hasil alam lainnya. Bahan
          sintetis hanya bisa diperoleh melalui proses kimia di pabrik.
        </p>
      </div>
    </div>
    <span class="font-bold text-sm mt-5 mb-3">Produk Populer Packer</span>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
      <div
        v-for="(o, i) in 20"
        :key="i"
        class="bg-white rounded-md shadow-md flex flex-col min-w-1/5"
      >
        <img class="rounded-lg" src="@/assets/png/xample_1.png" />
        <div class="flex flex-col px-2">
          <span class="text-sm my-1">{{ "Plastik" }}</span>
          <span class="font-bold text-sm">Rp. {{ 21000 }}</span>
          <span class="text-xs text-gray-400 my-1"
            >Rp. {{ "MOQ: 00 Meter" }}</span
          >
          <Ratting />
          <hr class="text-gray-500 my-1" />
          <span class="text-xs text-gray-400 mb-2">Kota Bandung</span>
        </div>
      </div>
    </div>
    <span class="font-bold text-sm mt-5 mb-3">Produk Terakhir Dilihat</span>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6 mb-16">
      <div
        v-for="(o, i) in 20"
        :key="i"
        class="bg-white rounded-md shadow-md flex flex-col min-w-1/5"
      >
        <img class="rounded-lg" src="@/assets/png/xample_1.png" />
        <div class="flex flex-col px-2">
          <span class="text-sm my-1">{{ "Plastik" }}</span>
          <span class="font-bold text-sm">Rp. {{ 21000 }}</span>
          <span class="text-xs text-gray-400 my-1"
            >Rp. {{ "MOQ: 00 Meter" }}</span
          >
          <Ratting />
          <hr class="text-gray-500 my-1" />
          <span class="text-xs text-gray-400 mb-2">Kota Bandung</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      const email = localStorage.getItem("email");
      const password = localStorage.getItem("password");
      const isLogin = localStorage.getItem("islogin");
      if (!email || !password) {
        return next({ path: "/auth/login" });
      } else if (email && password && isLogin === "true") {
        return next({ path: "/" });
      }
      return "/";
    });
  },
  data() {
    return {
      collapse: false,
    };
  },
};
</script>
