<template>
  <div class="flex flex-row mt-10">
    <div class="flex flex-col flex-auto">
      <div class="ml-16 flex flex-col shadow-lg rounded-lg border-1.5 bg-white">
        <span class="px-4 border-b-1.5 py-1 border-gray-400 font-bold text-lg"
          >Keranjang</span
        >
        <div class="px-4 py-1 text-sm">
          <input type="checkbox" class="accent-yellow-primary mr-2" />
          Pilih Semua Pesanan (0)
        </div>
      </div>
      <div
        class="ml-16 flex flex-col shadow-lg rounded-lg border-1.5 bg-white"
      ></div>
    </div>
    <div
      class="w-1/4 ml-10 mr-16 p-4 flex flex-col shadow-lg rounded-lg border-1.5 bg-white"
    >
      <span class="font-bold text-sm mt-2 mb-3">Detail</span>
      <div class="grid grid-cols-2 gap-y-2">
        <span class="text-sm">Total Harga</span>
        <span class="text-sm text-right">Rp. 12000</span>
        <span class="text-sm">Diskon</span>
        <span class="text-sm text-right">Rp. 10000</span>
      </div>
      <hr class="mt-4 -ml-4" />
      <div class="grid grid-cols-2 gap-y-2 mt-2">
        <span class="text-sm">Total Harga</span>
        <span class="text-sm font-bold text-right">Rp. 10000</span>
      </div>
      <button class="py-1 bg-yellow-primary text-white rounded-md mt-5">
        Buat Pesananan (0)
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductCart",
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      const email = localStorage.getItem("email");
      const password = localStorage.getItem("password");
      const isLogin = localStorage.getItem("islogin");
      if (!email || !password) {
        return next({ path: "/auth/login" });
      } else if (email && password && isLogin === "true") {
        return next({ path: "/" });
      }
      return "/";
    });
  },
};
</script>
